.MuiTable-root,
.MuiTableCell-root {
  color: white !important;
}
.high {
  height: 25px;
  width: 75px;

  background-color: red;
  border-radius: 12%;
  display: inline-block;
}
.collapseContainer {
  display: flex;
flex-wrap: wrap;
  align-items: center;
  text-align: start;
  padding-bottom: 10px;
}
.cc__heading {
  font-size: 21px;
}

.cc__subheading {
  font-size: 18px;
}
