body {
  font-family: "Source Sans 3", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Sans 3", sans-serif;
}

.MuiTable-root,
.MuiTableCell-root {
  color: white !important;
  font-size: 18px !important;
}

.MuiTable-root,
.MuiTableCell-root {
  color: white !important;
}
